@import 'utilities/_variables';
@import 'utilities/_extends';

@import "./layout/footer";
@import "./layout/header";
@import "./layout/index";
@import "./layout/contacto";
@import "./layout/recetas";
@import "./layout/productos";
@import "./layout/sobrenos";

@import "./mq/mq";


* {
  font-family: 'Montserrat', sans-serif; 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
