@media only screen and (max-width: 900px) {
  .logotipo {
    width: 80%;
  }

  .navegacion-superior ul {
    flex-direction: column;
    align-items: center;
  }

  .index-pheader {
    font-size: 0.95rem;
  }

  .producto-recomendado h2 {
    font-size: 1.25rem;
  }

  .btn-index {
    font-size: 0.95rem;
  }
.card-product {
    max-width: 100%;
  }

  .prod-h1 {
    font-size: 1.5rem;
  }
   
}